.App {
  text-align: center;
  background-color: black;
  height: 2000px;
}


.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 800;
  color: #FFE918;
}


