.charactersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: white;
    border-radius: 10px;
    transition: 0.2s;
    width: 12%;
    margin: 50px;

  }
  
  .card img {
    padding-top: 10px;
    width: 80%;
  }

  .card:hover {
    transform: scale(1.1); 
  }
  
  .cardInfo {
    padding: 2px 16px;
  }

.details {
  text-decoration: none;
}
