.pagination {
    width: 15%;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}

button {
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    background-color: white;
    border-radius: 5px;
}

.pagination #next {
    position: absolute;
    width: 100px;
    right: 0px;
}

.pagination #current {
    position: absolute;
    width: 50px;
    left: 138px;
}

.pagination #prev {
    width: 100px;
    position: absolute;
    left: 0px;
}