.pagination {
    width: 15%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

button {
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    background-color: white;
    border-radius: 5px;
}

.pagination #next {
    min-width: 110px;

}

.pagination #current {
    width: 50px;
}

.pagination #prev {
    width: 100px;
}
